body{
	background-color: #E6E6E6;
	padding: 0px;
	margin: 0px;
}

h1{
	margin: 0px;
	padding: 0px;
}
h5{
	margin: 0px;
	padding: 0px;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
}
.rodape-text{
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	clear: both;
    text-align: center;
    padding: 15px;
    background: #CCC;
}


/*CSS DO MENU INICIAL*/
a{
	/*Fazer de tudo pra manter essa sequencia de formatação para formatação de links*/
	text-decoration:none;
	padding-left:15px;
	padding-right:15px;
	padding-bottom: 12px;
	padding-top: 12px;
}
a:link{
	/*Links não vizitados*/
	color:white;
}
a:visited{
	/*Links vizitados*/
	color:white;
}
a:hover{
	/*Links hover, passa o cursor sobre o link*/
	background-color: white;
	color:gray;
}	
a:active{
	/*Links ativos, quando clicados*/
	color:white;
}
#nav{
	background-color:#FBA028;/*#FBA028,#FFC300*/
	height: 150px;
	border: 1px solid #FBA028;
	margin:0px;
	padding: 0px;
}
#menu ul li{
	display:inline;
	
	
	font-family:"Trebuchet MS", Helvetica, sans-serif;
}
#menu ul{
	margin:auto;
	
}
#menu{
	
	text-align: center;
}
#logo{
	
	text-align: center;
	font-size: 40px;
	margin: 25px;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	font-weight: bold;
	
}
#tec{
	color:#785727;
}
#blog{
	color:#FFF;
}

/*CSS DO CORPO DO SITE*/

#corpo{
	width: 60%;
	
	align-content: center;
	margin: 10px auto;
	position: relative;

}
#postagens{
	width: 62%;
	
	margin-right: 10px;%;
	padding: 15px;
	display: inline-block;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	background-color: white;
}
#postagens h2{
	margin: 0px;
	padding: 0px;
	color:#FBA028;
	width: 62%;
}
#barras_laterais{
	
	position: absolute;
	display: inline-block;
	width: 32.4%;
	background-color: #E6E6E6;
	top:0px;
	align-content: center;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
}
.imagens_das_postagens{
	margin: 20px 0px 10px 0px;
	width: 100%;
}
#postagens_recentes{
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	padding-top: 3px;
	background-color: white;

}
#titulo-recente{
	margin :5px;
	padding: 5px;
	background-color:#BDBDBD ;
	color: #6E6E6E;
}
#subtitulo-recente{
	margin :5px;
	padding: 5px;
	
}
#leiamais{
	color:orange;
	margin:0px;
	padding: 0px;
}
#leiamais2{
	color:orange;
	margin:10px;
	padding: 0px;
}
.link{
	color:orange;
	margin:0px;
	padding: 0px;
}
#rodape{
	background-color: #A9A9A9;
}
/*PÁGINA 2 JOGOS*/














